extends layout

block content
    h1 Login 
    h3 Owner
    a(href='/login/owner')
        button.btn.btn-primary Owner 
    h3 Donor    
    a(href='/login/donor')
        button.btn.btn-primary Donor