extends layout

block content
  h1=title
  //Register forms
  h1 Login Donor
  form(method='POST' action='/login/donor')
    div.form-group
      label(for='email') Your khra email:
      br
      input#email.form-control(type='text', placeholder='Input' name='email' required='true')
      br
      br
      label(for='password') Your password:
      br
      
      input#password.form-control(type='text', placeholder='Input' name='password' required='true')
      br
      br
      
    div.form-group
    button.btn.btn-primary(type='submit') Submit
    
  if errors 
    ul
      for error in errors
        li!= error.msg

    Terms
