extends layout

block content
  h1=title
  //Register forms
  h1 Signup Donor
  form(method='POST' action='')
    div.form-group
      label(for='firstName') Your first name:
      br
      input#firstName.form-control(type='text', placeholder='Input' name='firstName' required='true')
      br
      
      label(for='lastName') Your last name:
      br
      input#lastname.form-control(type='text', placeholder='Input' name='lastName' required='true')
      br
      
      label(for='userName') Your username:
      br
      input#userName.form-control(type='text', placeholder='Input' name='userName' required='true')
      br
      label(for='email') Your email:
      br
      input#email.form-control(type='email', placeholder='Input' name='email' required='true')
      br
      
      label(for='password') Your password:
      br
      input#password.form-control(type='password', placeholder='Input' name='password' required='true')
      br
      
      label(for='password2') Re-enter your password:
      br
      input#password2.form-control(type='password', placeholder='Input' name='password2' required='true')
      br

      label(for='bloodType') Your blood type:
      br
      input#bloodType.form-control(type='text', placeholder='Input' name='bloodType' required='true' )
      br
      
      
    div.form-group
    button.btn.btn-primary(type='submit') Submit
      
  if errors 
    ul
      for error in errors
        li!= error.msg

    Terms
