extends layout

block content
    h1 Sign-up 
    h3 Owner
    a(href='/signup/owner')
        button.btn.btn-primary Owner 
    h3 Donor    
    a(href='/signup/donor')
        button.btn.btn-primary Donor